node_modules/
dist/
.env
.DS_Store
coverage/
npm-debug.log
data/raw/
.env
.next/

/src/generated/prisma
pnpm-lock.yaml
next-env.d.ts

# Google Cloud Service Account Key
zinsight-analytics-*.json
zinsight-analytics-2026-9897decb4585.json
